.container {
  max-width: 600px;
  margin: 50px auto; }

.masthead {
  position: relative;
  min-height: 3.75em;
  background-color: #2f3338; }
  .masthead .masthead__logo {
    max-width: 12.5em;
    margin: auto;
    padding: 0.625em 0; }
    .masthead .masthead__logo a img {
      display: block; }
    @media only screen and (min-width: 48em) {
      .masthead .masthead__logo {
        margin: 0;
        max-width: 15.625em; } }

.masthead__navigation {
  position: relative; }

.menu__link {
  position: absolute;
  display: block;
  top: -4.16667em;
  left: 0.83333em;
  font-size: 0.75em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 1.16667em;
  background-color: #3e4349;
  border-radius: 0.5em; }

.menu,
.menu > ul ul {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.menu > ul ul {
  display: none; }

.js .menu,
.js .menu > ul ul {
  display: block;
  overflow: hidden;
  max-height: 0; }

.menu.active,
.js .menu > ul ul.active {
  max-height: 55em; }

.menu ul {
  margin: 0;
  padding: 0; }
.menu > ul {
  border-top: 1px solid #4e535b; }
.menu > ul ul {
  background-color: rgba(255, 255, 255, 0.05); }
.menu li {
  position: relative; }
.menu li a {
  color: white;
  display: block;
  font-size: 0.875em;
  line-height: 1;
  padding: 1.07143em;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.125em;
  border-bottom: 1px solid #4e535b;
  position: relative; }
.menu li a:hover {
  background-color: #4e535b; }
.menu .disclosure {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.75em;
  text-align: center;
  border-left: 1px solid #4e535b;
  z-index: 9999; }

@media only screen and (min-width: 48em) {
  .menu__link {
    display: none; }

  .menu {
    overflow: visible; }

  .js .menu,
  .js .menu > ul ul {
    max-height: none;
    overflow: visible; }

  .js .menu > ul ul {
    background-color: #2f3338;
    display: none; }

  .js .menu ul li:hover > ul {
    display: block; }

  .menu {
    position: absolute;
    bottom: 0;
    right: 0; }
    .menu ul {
      border: 0; }
    .menu li:last-child a {
      border-bottom: 0; }
    .menu > ul > li {
      display: inline-block;
      position: relative; }
      .menu > ul > li > a {
        border-bottom: 0; }
    .menu > ul ul {
      position: absolute;
      top: 0;
      left: 12.5em;
      width: 12.5em; }
      .menu > ul ul li {
        position: relative; }
    .menu .edge > ul {
      left: auto !important;
      right: 0 !important; }
    .menu > ul ul.level-2 {
      z-index: 9998;
      top: 2.75em;
      left: 0; }
    .menu .disclosure {
      display: none; } }
img {
  max-width: 100%; }
