.container {
  max-width: 600px;
  margin: 50px auto; }

.masthead {
  background-color: #2f3338;
  position: relative;
  min-height: 3.75em; }
  .masthead .masthead__logo {
    max-width: 12.5em;
    margin: auto;
    padding: 0.625em 0; }
    .masthead .masthead__logo a img {
      display: block; }
    @media only screen and (min-width: 48em) {
      .masthead .masthead__logo {
        margin: 0;
        max-width: 15.625em; } }

.menu {
  position: relative; }

.menu__link {
  position: absolute;
  display: block;
  top: -4.16667em;
  left: 0.83333em;
  font-size: 0.75em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 1.16667em;
  background-color: #3e4349;
  border-radius: 0.5em; }

.menu__list, .menu__list > ul ul {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.js .menu__list,
.js .menu__list > ul ul {
  overflow: hidden;
  max-height: 0; }

.menu__list.active,
.js .menu__list > ul ul.active {
  max-height: 55em; }

.menu__list ul {
  margin: 0;
  padding: 0; }
.menu__list > ul {
  border-top: 1px solid #4e535b; }
.menu__list > ul ul {
  background-color: rgba(255, 255, 255, 0.05); }
.menu__list li a {
  color: white;
  display: block;
  font-size: 0.875em;
  line-height: 1;
  padding: 1.07143em;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.125em;
  border-bottom: 1px solid #4e535b;
  position: relative; }
.menu__list li a:hover {
  background-color: #4e535b; }
.menu__list li.has-subnav > a:after {
  content: '+';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 1.57143em;
  padding: 0.5em; }
.menu__list li.has-subnav > a.active:after {
  content: "-"; }

@media only screen and (min-width: 48em) {
  .menu {
    overflow: visible; }

  .menu__link {
    display: none; }

  .js .menu__list,
  .js .menu__list > ul ul {
    max-height: none;
    overflow: visible;
    background: none; }

  .js .menu__list > ul ul {
    background-color: #2f3338;
    display: none; }

  .js .menu__list > ul li:hover > ul {
    display: block; }

  .menu__list {
    position: absolute;
    bottom: 0;
    right: 0; }
    .menu__list ul {
      border: 0; }
    .menu__list li.has-subnav > a:after {
      content: none; }
    .menu__list > ul > li {
      display: inline-block;
      position: relative; }
      .menu__list > ul > li > a {
        border-bottom: 0; }
    .menu__list > ul ul {
      position: absolute;
      top: 0;
      left: 12.5em;
      width: 12.5em; }
    .menu__list > ul ul li {
      position: relative; }
    .menu__list > ul ul.level-2 {
      top: 2.75em;
      left: 0; } }
img {
  max-width: 100%; }
