<header class="masthead">
  <div id="logo" class="masthead__logo">
  	<a href="/"><img src="http://placehold.it/250x50&text=Your+Logo+Here" /></a>
  </div>
<!--Pattern HTML-->
  <div id="masthead__navigation" class="masthead__navigation">
    <!--Begin Pattern HTML-->
		<a href="#menu" class="menu__link">Menu</a>

		<nav id="menu" class="menu" role="navigation">
			<ul class="level-1">
				<li class="has-subnav"><a href="/features/">Features</a>
					<ul class="level-2">
						<li><a href="/features/content-creation-and-sharing">Content Creation and Sharing</a></li>
						<li><a href="/features/assignments-feedback-and-grades">Assignments, Feedback, and Grades</a></li>
						<li><a href="/features/school-and-district-administration">School &amp; District Administration</a></li>
						<li><a href="/features/">Feature Comparison</a></li>
						<li class="menu__item--label">Key Features</li>
						<li><a href="/features/mobile-apps">Beautiful Mobile Apps</a></li>
						<li><a href="/features/standards-based-learning-management-system">Standards-Based LMS</a></li>
					</ul>
				</li>
				<li class="has-subnav"><a href="/pricing/">Pricing</a>
					<ul class="level-2">
						<li><a href="/pricing/">Pricing Overview</a></li>
						<li><a href="/signup/">Request a Pilot</a></li>
					</ul>
				</li>
				<li class="has-subnav"><a href="/support/">Support</a>
					<ul class="level-2">
						<li><a href="/support/">Support Home</a></li>
						<li><a href="https://support.haikulearning.com">Helpdesk &amp; Knowledgebase</a></li>
						<li><a href="/support/screencasts">Screencasts &amp; Video Tutorials</a></li>
						<li><a href="http://resources.haikulearning.com/haikulearning/usinghaikulms/cms_page/view">Student Orientation</a></li>
						<li><a href="/support/sample-classes">Sample Classes</a></li>
						<li><a href="https://groups.google.com/forum/?fromgroups#!forum/haiku-lms">Haiku Users Group</a></li>
						<li><a href="/support/version-history">Development Roadmap</a></li>
						<li><a href="http://feedback.haikulearning.com/forums/72-haiku-lms">User Suggestions &amp; Feedback</a></li>
						<li><a href="/support/api">API</a></li>
					</ul>
				</li>
				<li class="has-subnav"><a href="/about/">About</a>
					<ul class="level-2">
						<li><a href="/about/">Who We Are</a></li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/about/jobs">Jobs</a></li>
						<li><a href="/about/partners">Partners</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</li>
				<li class="sign-in"><a href="/signin/">Sign In</a></li>
			</ul>
		</nav>
	</div>
</header>